//Festival Musical

FestivalMusical/node_modules
FestivalMusical/src

#todos los js
FestivalMusical/*.js

#todos los json
FestivalMusical/*.json

#archivos sueltos
FestivalMusical/._.DS_Store
FestivalMusical/._img
FestivalMusical/._video
FestivalMusical/.DS_Store


//StudioBadDog

StudioBadDog/src
StudioBadDog/gulpfille.js
StudioBadDog/*json
StudioBadDog/basicos-bootstrapt.html
StudioBadDog/node_modules